.brands {
  padding-top: 70px;
  padding-bottom: 180px;
  background-color: var(--darkblue-color);

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    margin-bottom: 53px;
    font-weight: 600;
    font-size: 48px;
    line-height: 126%;
    text-transform: capitalize;
    color: var(--light-color);
  }
}
