.btn {
  padding: 22px 42px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: var(--light-color);
  background-color: var(--aquamarine-color);

}

.header__btn {

  &-left {
    padding: 15px 20px;
    border: 1px solid #1AA090;
    color: var(--light-color);
  }

  &-right {
    padding: 15px 20px;
    background-color: #1AA090;
    color: var(--light-color);
  }
}
