.header {
  background-color: var(--darkblue-color);
  padding-top: 40px;
  padding-bottom: 45px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
