<section class="brands">
  <div class="container">
    <h2 class="brands__title">Featured In</h2>
    <div class="brands__wrapper">
      <div class="brands__img">
        <img src="img/svg/logo-1.svg" alt="">
      </div>
      <div class="brands__img">
        <img src="img/svg/logo-2.svg" alt="">
      </div>
      <div class="brands__img">
        <img src="img/svg/logo-3.svg" alt="">
      </div>
      <div class="brands__img">
        <img src="img/svg/logo-4.svg" alt="">
      </div>
      <div class="brands__img">
        <img src="img/svg/logo-5.svg" alt="">
      </div>
    </div>
  </div>
</section>
