<section class="choose">
  <div class="container">
    <div class="choose__inner">
      <h1 class="choose__title">Why to choose us</h1>
      <div class="choose__list">

        <div class="choose__item">
          <div class="choose__image">
            <img src="img/svg/loupe.svg" alt="">
          </div>
          <h3 class="choose__subtitle">Easy to find</h3>
          <p class="choose__descr">
            Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium amet facilisis.
          </p>
        </div>

        <div class="choose__item">
          <div class="choose__image">
            <img src="img/svg/tag.svg" alt="">
          </div>
          <h3 class="choose__subtitle">Affordable Prices</h3>
          <p class="choose__descr">
            Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium amet facilisis.
          </p>
        </div>

        <div class="choose__item">
          <div class="choose__image">
            <img src="img/svg/quick.svg" alt="">
          </div>
          <h3 class="choose__subtitle">Quickly Process</h3>
          <p class="choose__descr">
            Ac, gravida in diam vitae, nec mattis lectus quam pretium amet facilisis. Urna, massa aliqua dui pellentesque.
          </з>
        </div>
      </div>
    </div>
  </div>
</section>
