<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__content">
        <nav class="footer-nav">
          <a href="#" class="logo">
            <img src="img/svg/logo.svg" alt="">
          </a>
          <p class="footer-nav__descr">
            Neque, vestibulum sed varius magna et at. Eu, adipiscing morbi augue.
          </p>
          <ul class="list-reset social footer__social">
            <li class="footer__item">
              <a href="#" target="_blank" class="social__link" aria-label="Facebook">
                <img src="img/socials/facebook.svg" alt="">
              </a>
            </li>

            <li class="footer__item">
              <a href="#" target="_blank" class="social__link" aria-label="instagram">
               <img src="img/socials/instagram.svg" alt="">
              </a>
            </li>

            <li class="footer__item">
              <a href="#" target="_blank" class="social__link" aria-label="Twitter">
                <img src="img/socials/twitter.svg" alt="">
              </a>
            </li>

          </ul>
        </nav>
        <nav class="footer-nav">
          <h3 class="footer-nav__title">Project</h3>
          <ul class="list-reset footer-nav__list">
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Houses </a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Rooms</a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Flats</a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Appartments</a></li>
          </ul>
        </nav>
        <nav class="footer-nav">
          <h3 class="footer-nav__title">Company</h3>
          <ul class="list-reset footer-nav__list">
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">How we work ?</a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Capital </a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Security</a></li>
          </ul>
        </nav>
        <nav class="footer-nav">
          <h3 class="footer-nav__title">Movement</h3>
          <ul class="list-reset footer-nav__list">
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Who are we</a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Support us</a></li>
          </ul>
        </nav>
        <nav class="footer-nav">
          <h3 class="footer-nav__title">Help</h3>
          <ul class="list-reset footer-nav__list">
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Privacy</a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Condition</a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Blog </a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">FAQs</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__bottom">
        <p class="footer__copyright">
          Copyright ©TemplatesJungle. 2022. All right reserved
        </p>
        <p class="footer__author">
          Design by: Designer
        </p>
      </div>
    </div>
  </div>
</footer>
