<section class="hero">
  <div class="container ">
    <div class="hero__wrapper">
      <div class="hero__content">
      <h1 class="hero__title">Perfect way to buy and sell a home</h1>
      <p class="hero__text">
        Diam vitae, nec mattis lectus quam pretium amet facilisis. Urna, massa aliqua dui pellentesque. Ac, gravida in eget non amet eget purus non.
      </p>
      <div class="filter">

        <div class="filter__item">
          <div class="filter__inner">
            <div class="filter__top">
              <div class="filter__title">Purpose</div>
              <img src="img/svg/check.svg" alt="check">
            </div>
            <p class="filter__text">Buy</p>
          </div>
        </div>

        <div class="filter__item">
          <div class="filter__inner">
            <div class="filter__top">
              <div class="filter__title">Location</div>
              <img src="img/svg/check.svg" alt="check">
            </div>
            <p class="filter__text">Toronto, Canada</p>
          </div>
        </div>

        <div class="filter__item">
          <div class="filter__inner">
            <div class="filter__top">
              <div class="filter__title">Type</div>
              <img src="img/svg/check.svg" alt="check">
            </div>
            <p class="filter__text">Industrial home</p>
          </div>
        </div>

        <button class="btn-reset filter__btn">Search</button>
      </div>
    </div>
    <div class="hero__img">
      <img src="img/hero.jpg" class="hero__img" alt="">
    </div>
    </div>

  </div>
</section>
