<section class="quote">
  <div class="container">
    <img class="quote__image" src="../img/svg/arrow-patten.svg" alt="">
    <blockquote class="quote__block">
      <div class="quote__content">
        <p class="quote__descr">
          Massa semper non rutrum orci facilisi sit. Lectus porta quam a fringilla eget viverra sem. Vulputate massa hendrerit turpis gravida tempor, porttitor.
        </p>
      </div>
      <footer class="quote__footer">
        <div class="quote__author">
          <p class="quote__author--name">Elena Pravo</p>
          <p class="quote__author--spec">Ceo, Upstate</p>
        </div>
        <div class="quote__button">
          <div class="quoter-button-prev">
            <img src="../img/svg/arrow-left.svg" alt="">
          </div>
          <div class="quote-button-next">
            <img src="../img/svg/arrow-right.svg" alt="">
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</section>
