<section class="residence">
  <div class="container">
    <h1 class="residence__title">Popular Residence</h1>
    <div class="swiper">
      <div class="residence__wrapper swiper-wrapper">
        <a href="#" class="residence-item">
          <img class="residence-item__image" src="img/slider/residence-1.jpg" alt="residence 1">
          <div class="residence-item__content">
            <h3 class="residence-item__title">Aliva Priva Jalvin</h3>
            <p class="residence-item__descr">1087 Pin Oak Drive, Clinton, USA</p>
            <div class="residence-terms">
              <div class="residence-terms__beds">
                <img src="../img/svg/beds.svg" alt="">
                <span class="residence-terms__span">4 beds</span>
              </div>
              <div class="residence-terms__bath">
                <img src="../img/svg/bath.svg" alt="">
                <span class="residence-terms__span">2 bath</span>
              </div>
              <div class="residence-terms__sqft">
                <img src="../img/svg/sqft.svg" alt="">
                <span class="residence-terms__span">1203 Sqft.</span>
              </div>
            </div>
          </div>
        </a>

        <a href="#" class="residence-item">
          <img class="residence-item__image" src="img/slider/residence-2.jpg" alt="residence 2">
          <div class="residence-item__content">
            <h3 class="residence-item__title">Hard line orchar</h3>
            <p class="residence-item__descr">1087 Pin Oak Drive, Clinton, USA</p>
            <div class="residence-terms">
              <div class="residence-terms__beds">
                <img src="../img/svg/beds.svg" alt="">
                <span class="residence-terms__span">4 beds</span>
              </div>
              <div class="residence-terms__bath">
                <img src="../img/svg/bath.svg" alt="">
                <span class="residence-terms__span">2 bath</span>
              </div>
              <div class="residence-terms__sqft">
                <img src="../img/svg/sqft.svg" alt="">
                <span class="residence-terms__span">1203 Sqft.</span>
              </div>
            </div>
          </div>
        </a>

        <a href="#" class="residence-item">
          <img class="residence-item__image" src="img/slider/residence-3.jpg" alt="residence 3">
          <div class="residence-item__content">
            <h3 class="residence-item__title">Allpine lenevote</h3>
            <p class="residence-item__descr">1087 Pin Oak Drive, Clinton, USA</p>
            <div class="residence-terms">
              <div class="residence-terms__beds">
                <img src="../img/svg/beds.svg" alt="">
                <span class="residence-terms__span">4 beds</span>
              </div>
              <div class="residence-terms__bath">
                <img src="../img/svg/bath.svg" alt="">
                <span class="residence-terms__span">2 bath</span>
              </div>
              <div class="residence-terms__sqft">
                <img src="../img/svg/sqft.svg" alt="">
                <span class="residence-terms__span">1203 Sqft.</span>
              </div>
            </div>
          </div>
        </a>
        <!-- <div class="swiper-slide">
          <a href="#" class="residence-item">
            <img class="residence-item__image" src="img/slider/residence-1.jpg" alt="residence 1">
            <div class="residence-item__content">
              <h3 class="residence-item__title">Aliva Priva Jalvin</h3>
              <p class="residence-item__descr">1087 Pin Oak Drive, Clinton, USA</p>
              <div class="residence-terms">
                <div class="residence-terms__beds">
                  <img src="../img/svg/beds.svg" alt="">
                  <span class="residence-terms__span">4 beds</span>
                </div>
                <div class="residence-terms__bath">
                  <img src="../img/svg/bath.svg" alt="">
                  <span class="residence-terms__span">2 bath</span>
                </div>
                <div class="residence-terms__sqft">
                  <img src="../img/svg/sqft.svg" alt="">
                  <span class="residence-terms__span">1203 Sqft.</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="swiper-slide">
          <a href="#" class="residence-item">
            <img class="residence-item__image" src="img/slider/residence-2.jpg" alt="residence 2">
            <div class="residence-item__content">
              <h3 class="residence-item__title">Hard line orchar</h3>
              <p class="residence-item__descr">1087 Pin Oak Drive, Clinton, USA</p>
              <div class="residence-terms">
                <div class="residence-terms__beds">
                  <img src="../img/svg/beds.svg" alt="">
                  <span class="residence-terms__span">4 beds</span>
                </div>
                <div class="residence-terms__bath">
                  <img src="../img/svg/bath.svg" alt="">
                  <span class="residence-terms__span">2 bath</span>
                </div>
                <div class="residence-terms__sqft">
                  <img src="../img/svg/sqft.svg" alt="">
                  <span class="residence-terms__span">1203 Sqft.</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="swiper-slide">
          <a href="#" class="residence-item">
            <img class="residence-item__image" src="img/slider/residence-3.jpg" alt="residence 3">
            <div class="residence-item__content">
              <h3 class="residence-item__title">Allpine lenevote</h3>
              <p class="residence-item__descr">1087 Pin Oak Drive, Clinton, USA</p>
              <div class="residence-terms">
                <div class="residence-terms__beds">
                  <img src="../img/svg/beds.svg" alt="">
                  <span class="residence-terms__span">4 beds</span>
                </div>
                <div class="residence-terms__bath">
                  <img src="../img/svg/bath.svg" alt="">
                  <span class="residence-terms__span">2 bath</span>
                </div>
                <div class="residence-terms__sqft">
                  <img src="../img/svg/sqft.svg" alt="">
                  <span class="residence-terms__span">1203 Sqft.</span>
                </div>
              </div>
            </div>
          </a>
        </div> -->
      </div>
      <div class="swiper-button-prev">
        <img src="../img/svg/arrow-left.svg" alt="">
      </div>
      <div class="swiper-button-next">
        <img src="../img/svg/arrow-right.svg" alt="">
      </div>
    </div>
    <div class="residence__btn">
      <button class="btn-reset btn">View all properties</button>
    </div>
  </div>
</section>
