<section class="simply">
  <div class="container">
    <img class="simply__image" src="../img/svg/arrow-patten-1.svg" alt="">
    <div class="simply__wrapper">
      <h1 class="simply__title">Let’s simply begin with rentiz.</h1>
      <div class="simply__content">
        <p class="simply__descr">
          Neque, vestibulum sed varius magna et at. Eu, adipiscing morbi augue justo. Nibh laoreet volutpat quis velit. Blandit aliquam donec sed morbi congue eget lorem viverra porta id lobortis.
        </p>
        <button class="btn-reset btn">Get Started</button>
      </div>
    </div>
  </div>
</section>
