<section class="we-help">
  <div class="container">
    <div class="we-help__wrapper">
      <div class="we-help__image">
        <img  src="img/wehelp-1.jpg" alt="house">
        <img  src="img/wehelp-2.jpg" alt="house">
      </div>
      <div class="we-help__content">
        <div class="we-help__title">We help people to find homes</div>
        <div class="we-help__descr">
          Mauris orci donec blandit maecenas. Orci lorem purus porttitor massa consectetur. Neque, vestibulum sed varius magna et at. Eu, adipiscing morbi augue justo. Nibh laoreet volutpat quis velit. Blandit aliquam donec sed morbi congue eget lorem viverra porta id lobortis.
        </div>
        <button class="btn-reset btn we-help__btn">Get in touch</button>
      </div>
    </div>
  </div>
</section>
