// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: 'Work Sans', sans-serif;
  --container-width: 1390px;
  --container-offset: 15px;


  // colors
  --light-color: #fff;
  --aquamarine-color: #1AA090;
  --gray-color: #D6D6D6;
  --darkblue-color: #121B25;
}
